@font-face {
    font-family: Hanken Grotesk;
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

body{
    font-family:"Hanken Grotesk", Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    height:100vh;
}
h1{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top:0;
    padding-top:20px;
}
.result{
    border-radius: 0 0 20px 20px;
    background-image: linear-gradient( to top,hsl(241, 81%, 54%),hsl(252, 100%, 67%));
    height:370px;
    padding:0 40px;
    text-align: center;
    color:white;
}
.result h1{
    color: hsl(241, 100%, 89%);
}
.circle{
    background-image: linear-gradient( hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width:150px;
    margin:auto;
    border-radius:50%;
    height:150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.circle-result{
    font-size: 45px;
    font-weight:700;
}
.out-of{
    color:hsl(240, 17%, 75%);
    font-size: 14px;
}
.result h2{
    font-weight: 500;
    margin-bottom: 0;
}
.result p{
    color:hsl(241, 100%, 89%);
}
.summary{
    height:370px;
    padding:10px 40px;
}
.summary ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
.summary ul li {
    border-radius: 8px;
    margin-bottom: 10px;
    font-size:14px;
    line-height: 1;
    padding: 15px 10px;
    display:flex;
    justify-content: space-between;
    color: hsl(240, 6%, 52%);
    font-weight: 600;
}
.summary ul li strong{
    color:black;
}
.reaction{
    color:hsl(0, 100%, 67%);
}
.memory{
    color:hsl(39, 100%, 56%);
}
.verbal{
    color:hsl(166, 100%, 37%);
}
.visual{
    color:hsl(234, 85%, 45%);
}
.summary ul li:nth-child(1){
    background-color: hsl(0, 100%, 98%);
}

.summary ul li:nth-child(2){
    background-color: hsl(40, 20%, 97%);
}
.summary ul li:nth-child(3){
    background-color: hsl(158, 52%, 96%);
}
.summary ul li:nth-child(4){
    background-color: hsl(234, 100%, 98%);
} 

img{
    float: left;
    height:15px;
    width:15px;
    margin-right:10px;
}
button{
    width:100%;
    margin-top:20px;
    padding:20px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: hsl(224, 30%, 27%);
}
button:hover{
    background-image: linear-gradient( to top,hsl(241, 81%, 54%),hsl(252, 100%, 67%));
}
.attribution{
    margin-top:5px;
}

@media (width > 375px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container{
        width:600px;
        display:flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px 3px rgba(85, 85, 85, 0.1);
        border-radius: 20px;
    }
    
    .result{
        border-radius: 20px;
        width:50%;
        padding:20px 40px;
    }
    .summary{
        width:50%;
        padding:20px 40px;
    }
    .summary ul li {
        margin-bottom: 10px;
        padding: 15px 10px;
    }
    
    button{
        padding:10px;
        border-radius: 20px;
    }
    
    .attribution{
        margin-top:20px;
    }
    
}